<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<seccion th:replace="fragments/header :: header"></seccion>
	
	<script type="text/javascript">
		function enviar(form) {
			  var formulario = form.parentNode;
			  var dato = form.value;
			  if (dato >= 1) {
			    formulario.submit();
			    return true;
			  } else {
			    alert("No puede estar en cero, para eso elimine el producto.. Gracias..!");
			    return false;
			  }
		}
	</script>
	
	<div class="container">
		<div class="row col-md-10">
			<div class="col clearfix">
				<h1 th:text="#{plantilla.carrito.titulo}" class="font-weight-bold font-italic mt-5 border-bottom border-success"></h1>
				<span th:text="'Bienvenido: ' + ${session.usuario.nombre} + ' ' + ${session.usuario.apellido}" class="float-right font-weight-bold font-italic mt-1 mb-5"></span>
			</div>
		</div>
		
		<a class="btn btn-secondary float-right btn-bg mb-1" th:href="@{/tienda}">Seguir Comprando</a>
				
		<h3 th:text="#{plantilla.carrito.tituloLista}" class="font-weight-bold font-italic mb-1"></h3>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Producto</th>	
					<th scope="col">Cantidad</th>			
					<th scope="col">Precio</th>
					<th scope="col">Sub Total</th>	
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productoC : ${productosCarrito}">
					<th scope="row" th:text="${productoC.productoCarrito.id}"></th>
					<td th:text="${productoC.producto.nombre}"></td>
					<td>
						<form th:id="'formQuantity' + ${productoC.productoCarrito.id}" th:action="@{/tienda/carrito/edit-producto}" method="post">
							<input type="number" th:id="'cantidad'" name="cantidad" min="1" th:onchange="'return enviar(this);'"  th:value="${productoC.productoCarrito.cantidad}" />
							<input type="hidden" name="idProductoCarrito" th:value="${productoC.productoCarrito.id}" />
						</form>
					</td>
					<td th:text="${productoC.producto.precio}"></td>
					<td th:text="${productoC.subTotal}"></td>
					<td>
						<a class="btn btn-primary btn-sm" onclick="return confirm('Por favor. Confirme si desea eliminar el producto del carrito.');" th:href="@{/tienda/carrito/eliminar/} + ${productoC.productoCarrito.id}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<h4 class="font-weight-bold font-italic text-success" th:text="'Total a Pagar: ' + ${total}"></h4>
		
		<a class="btn btn-success float-right btn-bg mb-1" th:href="@{/tienda/carrito/checkout/} + ${idCarrito}" th:if="${total > 0}">Checkout</a>
		
	</div>
	
	<seccion th:replace="fragments/footer :: footer"></seccion>
</body>
</html>