<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<seccion th:replace="fragments/header :: header"></seccion>

	<div class="container">
		<h1 th:text="#{plantilla.usuarios.titulo}" class="font-weight-bold font-italic mt-5 border-bottom border-success"></h1>
		
		<a class="btn btn-success btn-bg my-2 mb-4" th:href="@{/usuarios/crear}">Crear Nuevo Usuario</a>
		<a class="btn btn-secondary btn-bg my-2 mb-4" th:href="@{/admin}">Volver</a>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>					
					<th scope="col">Apellido</th>
					<th scope="col">Email</th>
					<th scope="col">Nombre de Usuario</th>
					<th scope="col">Fecha de Nacimiento</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<th scope="row" th:text="${usuario.id}"></th>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.apellido}"></td>
					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.userName}"></td>
					<td th:text="${usuario.fechaNacimiento}"></td>
					<td>
						<a class="btn btn-primary btn-sm" th:href="@{/usuarios/editar/} + ${usuario.id}">Editar</a>
						<a class="btn btn-danger btn-sm" th:onclick="return confirm('Desea eliminar el usuario:  ${usuario.nombre} ');" th:href="@{/usuarios/eliminar/} + ${usuario.id}">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<seccion th:replace="fragments/footer :: footer"></seccion>
</body>
</html>